<nav class="red darken-4" ng-if="user">
  <div class="nav-wrapper">
    <a class="brand-logo">Syndicate</a>
    <a data-activates="mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <div>
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light" ng-click="openLoginModal()">Login</a></li>
        <li><a class="waves-effect waves-light" ng-click="openRegisterModal()">Register</a></li>
      </ul>
      <ul class="side-nav" id="mobile">
        <li><a class="waves-effect waves-light" ng-click="openLoginModal()">Login</a></li>
        <li><a class="waves-effect waves-light" ng-click="openRegisterModal()">Register</a></li>
      </ul>
    </div>
  </div>
</nav>
