<nav class="red darken-4" ng-if="user">
  <div class="nav-wrapper">
    <a class="brand-logo">Syndicate</a>
    <a
      class="button-collapse"
      data-activates="mobile"
      data-sidenav="left"
      data-closeonclick="true">
      <i class="mdi-navigation-menu"></i>
    </a>
    <div>
      <ul class="right hide-on-med-and-down">
        <li>
          <a ui-sref="forum" class="waves-effect waves-light">Forum</a>
        </li>
        <li ng-if="user.isAdmin === 1">
          <a ui-sref="admin" class="waves-effect waves-light">Admin</a>
        </li>
        <li>
          <a class="waves-effect waves-light" ng-click="logout()">Logout</a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile">
        <li>
          <a ui-sref="forum" class="waves-effect waves-light">Forum</a>
        </li>
        <li ng-if="user.isAdmin === 1">
          <a ui-sref="admin" class="waves-effect waves-light">Admin</a>
        </li>
        <li>
          <a class="waves-effect waves-light" ng-click="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
