/* colors.scss */
$primary-color-darken-0: #455a64;
$primary-color-darken-1: #37474f;
$primary-color-darken-2: #424242;
$primary-color-darken-3: #263238;
$primary-color-darken-4: #303030;
$primary-color-darken-5: #212121;

.prime-darken-5 {
  background-color: #212121 !important;
}

.prime-darken-4 {
  background-color: #303030 !important;
}

.prime-darken-3 {
  background-color: #263238 !important;
}

.prime-darken-2 {
  background-color: #424242 !important;
}

.prime-darken-1 {
  background-color: #37474f !important;
}

.prime-darken-0 {
  background-color: #455a64 !important;
}

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #37474f inset !important;;
    -webkit-text-fill-color: #fff;
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 50px #37474f inset,0 0 0 50px #37474f inset !important;
    -webkit-text-fill-color: #fff !important;
}
