.redactor_editor{
  min-height: 300px;
}

topic-item, post-item{
  display: block;
}

.initialized {
  .ng-move,
  .ng-enter,
  .ng-leave {
    @include materialBounce(all, 0.8s);

    post-item {
      @include materialBounce(all, 0.4s);
    }
  }

  .ng-leave.ng-leave-active,
  .ng-move,
  .ng-enter {
    opacity:0;
    height: 0;

    post-item {
      margin-top: 50px;
    }
  }


  .ng-enter .card {
    -webkit-animation:lighten cubic-bezier(0.620, -0.005, 0.260, 0.995) 0.8s; /* Chrome, Safari, Opera */
    animation:lighten cubic-bezier(0.620, -0.005, 0.260, 0.995) 0.8s;
  }

  .ng-leave,
  .ng-move.ng-move-active,
  .ng-enter.ng-enter-active {
    opacity:1;
    height:auto;

    post-item {
      margin-top: 0px;
    }
  }
}


@include keyframes(lighten) {
  0% {   box-shadow: none;     }
  35% {  box-shadow: 0px 0px 10px #dd0; }
  55% {  box-shadow: 0px 0px 10px #dd0; }
  100% { box-shadow: none;     }
}

.title-box {
  padding-top: 20px;
  padding-bottom: 10px;
}

.row .col div.topic-title {
  margin-left: 2em;
}

.row .col div.forum-title {
  margin-left: 2em;
}

.topic-item {
  [ng-bind-html] p {
    margin: 0;
  }

  .bold {
    font-weight: 700;
  }
}

@media only screen and (max-width: 992px){
  .modal:not(.bottom-sheet) {
    width: 85%;
    max-width: none;
    max-height: none;
  }
}

@media only screen and (max-width: 500px){
  .modal:not(.bottom-sheet) {
    width: 95%;
  }

  .modal .modal-content {
    padding: 14px;
  }
}

@media only screen and (max-width: 340px){
  .modal:not(.bottom-sheet) {
    width: 98%;
  }

  .title-box {
    padding:0;
  }

  .row .col div.topic-title {
    margin-left: 0em;
    margin-top: 10px;
  }

  .row .col div.forum-title {
    margin-left: 0em;
  }

  .col.valign-wrapper.desolve{
    display: block;
    @include align-items(inherit);
  }

  .modal .modal-content {
    padding: 5px;

    .row .col {
      padding: 0;
    }
  }

  .fit-box {
    max-width: 100%;
    margin: 0 !important;
  }
}

post-item {
  .card .card-content .card-title {
    margin-top: -8px;
    display: block;
  }
}
