<div class="container">
  <div class="row" style="padding-top: 40px; padding-bottom: 0px;">
    <div class="col s12 valign-wrapper white-text">
      <div class="col s1 valign">
        <a
          class="btn-floating btn-large waves-effect waves-light red darken-3 modal-trigger"
          tooltipped
          data-position="top" data-delay="150" data-tooltip="New Topic"
          ng-click="vm.newTopicModal()">

          <i class="material-icons">add</i>
        </a>
      </div>

      <div class="col s11 valign no-margin" style="margin-left: 2em;" input-field>
        <input style="font-size: 1.3em;" type="text" ng-model="vm.forumSearch">
        <label>Forums</label>
      </div>

    </div>
  </div>

  <div class="row" ng-class="vm.initialized ? 'initialized' : ''">
    <div class="col s12">
      <div class="card-panel z-depth-0 grey darken-4 white-text">
        <div class="card-content">
          <div class="col s12 no-padding">

            <div class="col l3 m4 s12 truncate">
              Title
            </div>
            <div class="col l2 m4 s6 truncate">
              Username
            </div>
            <div class="col l4 truncate hide-on-med-and-down">
              Post Content
            </div>
            <div class="col m3 s6 right-align truncate">
              Last Updated
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="col s12"
      ng-repeat="topic in vm.topics | orderBy: '-lastUpdated' | filter: vm.forumSearch"
      ng-click="vm.goToTopic(topic.id)">

      <topic-item topic="topic"></topic-item>
    </div>
  </div>

</div>

<!-- Modal Structure -->
<div id="NewTopic" class="modal">
  <form name="submitTopic" ng-submit="vm.createNewTopic()">
    <div class="modal-content">
      <div class="row">
        <div class="input-field col s12">
          <input id="title" type="text" ng-model="vm.topic.title" pattern=".{3,100}" class="validate" required>
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea ng-model="vm.post.content" redactor></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="waves-effect waves-green green lighten-4 btn-flat">New Topic</button>
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
  </form>
</div>
