<div
  class="card hoverable white-text"
  ng-class="post.member.id === topic.memberId ? 'prime-darken-3' : 'prime-darken-1'"
  tooltipped
  data-position="bottom" data-delay="150" data-tooltip="Click to Reply">
  <div class="card-content">
    <span class="card-title">
      <strong ng-class="post.member.banned ? 'strike-through' : ''">@{{ post.member.username | numberLength:3 }}</strong>
      <small class="right small" am-time-ago="post.createdOn"></small>
    </span>
    <div class="flow-text" ng-bind-html="post.content | trust"></div>
  </div>
</div>
