<div class="card grey hoverable lighten-4 grey-text " ng-class="seen ? 'text-darken-2' : 'text-darken-4 bold'">
  <div class="card-content">
    <div class="valign-wrapper">

      <div class="col s12 valign no-padding">

        <div class="col l3 m4 s12 truncate">
          {{ topic.title }}
        </div>
        <div class="col l2 m4 s6 truncate">
          @{{ topic.member.username }}
        </div>
        <div
          class="col l4 hide-on-med-and-down truncate"
          ng-bind-html="topic.original.content | trust">
        </div>
        <div class="col m3 s6 right-align truncate">
          <span am-time-ago="topic.lastUpdated"></span>
        </div>

      </div>
    </div>
  </div>
</div>
