<div
  class="card prime-darken-3 hoverable grey-text"
  ng-if="!topic.deleted"
  ng-class="seen ? 'text-lighten-2' : 'text-lighten-4 bold'"
  ng-click="goToTopic()">
  <div class="card-content">
    <div class="valign-wrapper">

      <div class="col s12 valign no-padding">

        <div class="col l3 m4 s12 truncate">
          {{ topic.title }}
        </div>
        <div class="col l2 m4 s6 truncate">
          @{{ topic.member.username }}
        </div>
        <div
          class="col l4 hide-on-med-and-down truncate"
          ng-bind-html="topic.original.content | trust">
        </div>
        <div class="col m3 s6 right-align truncate">
          <span am-time-ago="topic.lastUpdated"></span>
        </div>

      </div>
    </div>
    <div
      class="delete-icon" ng-if="user.id === topic.member.id"
      tooltipped
      data-position="left" data-delay="150" data-tooltip="Delete Topic"
      ng-click="deleteMe($event)">
      <i class="material-icons">
        delete
      </i>
    </div>
  </div>
</div>

<div
  class="half-card col s12 grey-text text-lighten-1" ng-if="topic.deleted"
  tooltipped
  data-position="top" data-delay="150" data-tooltip="Deleted Topic">
  <div class="valign-wrapper">

    <div class="col s12 valign no-padding">

      <div class="col l3 m4 s12 truncate strike-through">
        {{topic.title}}
      </div>
      <div class="col l6 m4 s6 truncate strike-through">
        @{{ topic.member.username }}
      </div>
      <div class="col m3 s6 right-align truncate strike-through">
        <span am-time-ago="topic.lastUpdated"></span>
      </div>

    </div>
  </div>
</div>
