<div class="container">

  <div class="row" style="margin-top: 20px;">
    <div class="col s12">
      <ul class="tabs z-depth-3 prime-darken-3" tabs>
        <li class="tab col s6">
          <a class="white-text" href="#test1">New User</a>
        </li>
        <li class="tab col s6" ng-click="vm.getMembers()">
          <a class="white-text active" href="#test2">Manage Users</a>
        </li>
      </ul>
    </div>
    <div class="col s12" style="margin-top: 20px;">
      <div id="test1">
        <div class="card z-depth-1 prime-darken-1 white-text">
          <div class="card-content">
            <span class="card-title">New User</span>
            <div input-field>
              <input class="validate" type="text" ng-model="vm.user.username" pattern=".{3,}" length="60" required>
              <label>Username</label>
            </div>
            <div input-field>
              <input class="validate" type="email" ng-model="vm.user.email" required>
              <label>Email</label>
            </div>
            <div input-field>
              <input type="text" ng-model="vm.user.password" required length="60">
              <label>Password</label>
            </div>
          </div>
          <div class="card-action">
            <a ng-click="vm.clear()">Clear</a>
            <a ng-click="vm.password()">New Password</a>
            <a ng-click="vm.submitNewUser()">Submit User</a>
          </div>
        </div>
      </div>
      <div id="test2">
        <ul class="collection with-header">
          <li class="collection-item waves-effect"
            ng-repeat="member in vm.members"
            ng-click="vm.openEditModal(member)">
            <div>
              {{ member.username }} - <small>{{ member.email }}</small>
              <a class="secondary-content">
                <i class="material-icons">edit</i>
                <i class="material-icons" ng-click="vm.deleteMember(member.id, $event)">delete</i>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </div>

</div>
