<div class="full-screen">
  <div class="row vertical-align">
    <div class="col s12 m6 offset-m3 l4 offset-l4">
      <div class="card prime-darken-1">
        <form name="syndicate" ng-submit="vm.submitLogin()">
          <div class="card-content white-text">
            <span class="card-title">Hello, Friend</span>
            <div input-field>
              <input name="email" class="validate" type="email" ng-model="vm.login.email" required>
              <label>Email</label>
            </div>
            <div input-field>
              <input name="password" type="password" ng-model="vm.login.password" required length="60">
              <label>Password</label>
            </div>
          </div>
          <div class="card-action right-align">
            <button type="submit" class="waves-effect waves-light blue-grey darken-3 white-text btn-flat">Enter</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
